:root {
  --docsearch-modal-background: #1d263b;
  --docsearch-container-background: rgba(25, 28, 38, 0.8);
  --docsearch-searchbox-background: #141b2b;
  --docsearch-hit-background: #1d263b;
  --docsearch-hit-color: #fff;
  --docsearch-hit-active-background: #2d21b2;
  --docsearch-hit-active-color: #fff;
  --docsearch-highlight-color: #2d21b2;
  --docsearch-footer-background: #1d263b;
  --docsearch-text-color: #fff;
  --docsearch-muted-color: #b3b3b3;
  --docsearch-key-gradient: linear-gradient(-26.5deg, #2d21b2 0%, #1d263b 100%);
}